{% extends 'web/base.html' %}
{% load static %}

{% block title %}
Add Item
{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'web/web.css' %}">
<link rel="stylesheet" href="{% static 'web/index.css' %}">
<link rel="stylesheet" href="{% static 'web/card.css' %}">
{% endblock extra_head %}

{% block content %}
<main>
    <div class='card'>
        <form action="{% url 'web:additem' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="additem">
        </form>
    </div>
</main>



{% endblock content %}