{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compendium Curator</title>
    <link rel="stylesheet" href="{% static 'web/index.css' %}">
</head> 
<body>
    <main>
        <h1>Compendium Curator</h1>
        <form class="add_your_class" method="GET" action="" >
            <input class="add_your_class" type="search" name="search">
            <br>
            <button class="add_your_class" type="submit"> Search </button>
        </form>
    </main>
    
</body>
</html>