{% extends 'web/base.html' %}
{% load static %}

{% block title %}
Weapons
{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'web/web.css' %}">
<link rel="stylesheet" href="{% static 'web/card.css' %}">
{% endblock extra_head %}

{% block content %}

<main>
    {% for weapon in weapons %}
    <div class='card'>
        <div>
            <h1>{{ weapon.name }}
                {% if weapon.modifier is not null%}
                {{ weapon.modifier }}
                {% endif %}
            </h1>
            <h3>{{ weapon.description }}</h3>
            <br>
            <ul>
                <li><b>Category:</b> {{ weapon.category }}</li>
                <li><b>Type:</b> {{ weapon.type }}</li>
                <li><b>Cost:</b> {{ weapon.cost }}</li>
                <li><b>Damage:</b> {{ weapon.dmg }}</li>
                <li><b>Properies:</b> {{ weapon.property }}</li>
                <li><b>Weight:</b> {{ weapon.weight }}lbs</li>
                <li><b>Rarity:</b> {{ weapon.rarity }}</li>
            </ul>
        </div>
    </div>
    {% endfor %}
</main>

{% endblock content %}